@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
	<title>IZConverter</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="header">
				<div class="leftHeader">
					<img src="helloCatbackgroundless.png">

					<div class="container">
						Converter
						<a asp-page="Index">
							<span class="link"></span>
						</a>
					</div>
					<div class="container">
						About
						<a asp-page="About">
							<span class="link"></span>
						</a>
					</div>
				</div>
				<div class="rightHeader"> 
					<div class="container">
						Log in
						<a asp-page="Login">
							<span class="link"></span>
						</a>
					</div>
				</div>
			</div>
		</header>

		<div class="main">
			<div class="content">
				<div class="converter">
					<h1>
						IZConverter is a small and easy online tool that can extract compressed files, such as 7z, zipx,
						rar, exe and more.
					</h1>
					<h2>

					</h2>
					<div class="dragdrop">
						<div class="fileDropArea" id="file-selector">
							<span class="fileMsg">Drag and drop files here</span>
							<input class="fileInput">
						</div>
					</div>
					<div class="buttons">
						<button> <!-- link -->
							<p>
								Upload from link
							</p>
						</button>
						<button>
							<p>
								Upload from file
							</p> <!-- file -->
						</button>
					</div>
					<h3>
						Last 5 items:
					</h3>
				</div>
				<div class="history">
					<p>
						Please authorise to see last items
					</p>
				</div>
			</div>
		</div>

		<footer>
			<p>
				Saint-Petersburg state institute of technology (Technological university)
			</p>
			<p>
				2023
			</p>
		</footer>
	</div>
</body>
<script src="events.js"></script>
</html>